@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400i,500,600,400|Montserrat:400,600,700');

body {
    min-width: 320px;
    background: #e3e3e3;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.font_crimson {
    font-family: 'Crimson Text', serif;
}

.font_montserrat {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

body > header {
    background: white;
}

.top-menu {
    height: 62px;
}

.logo {
    margin-top: 15px;
    display: block;
}

img[src$=svg] {
    margin: 0 8px 0 0;
}

.logo img, .logo .logo__text {
    vertical-align: bottom;
}

.logo a > .logo__text {
    display: inline-block;
    color: #757575;
    font-size: 18px;
    letter-spacing: 1.6px;
    font-weight: 600;
    padding-bottom: 2px;
}

.menu {
    margin: 24px 0 0 84px;
}

.menu ul li {
    display: inline-block;
    margin-right: 12px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #aaa;
    text-transform: uppercase;
}

.menu ul li a:hover {
    color: #4e555b;
}


.top-menu .social-network {
    margin: 24px 0 0 0;
    float: right;
}

.top-menu .social-network > a {
    font-size: 12px;
    border-right: 1px solid #aaa;
    padding-right: 5px;
    color: #aaa;
}

.top-menu .social-network > a:last-child {
    border-right: none;
    padding-right: 0;
}

.top-menu .social-network > a:hover {
    color: #4e555b;
}

.header-title {
    height: 333px;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-title .header-title__text {
    text-align: center;
    color: white;
    padding-top: 100px;
}

.header-title .header-title__text > h1 {
    font-size: 53px;
    font-weight: 400;
    margin-bottom: 14px;
}

.header-title__text .blog-text__stairs {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0 0 0 10px;
}

.header-title__text .blog-text__stairs > li {
    width: 8px;
    height: 8px;
    border: 1px solid;
    border-left: none;
    border-bottom: none;
    transform: rotate(-37deg) skewX(14deg);
    transform-origin: center;
    margin-right: 4px;
}

.header-title .header-title__text p, .home {
    color: white;
    font-size: 16px;
    margin-top: 21px;
}

.header-title .header-title__text p .home:hover {
    color: #ccc;
}

.indent {
    padding-top: 86px;
    margin-bottom: 83px;
}

main {
    margin-right: 56px;
}

main article img {
    width: 100%;
}

article:first-child .article__img {
    padding-top: 0;
}

article .article__img {
    padding: 51px 0 37px 0;
}

article header {
    padding-bottom: 24px;
}

article header h2 {
    padding-bottom: 10px;
    font-size: 16px;
    color: #3e3d3d;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

article header h2 + p {
    padding-bottom: 19px;
    border-bottom: 1px solid #b7b7b7;
    font-size: 14px;
    font-style: italic;
    color: #3e3d3d;
}

article header .article__icons {
    padding: 11px 0 9px 0;
    border-bottom: 1px solid #b7b7b7;
}

article header .article__icons div {
    display: inline-block;
    margin-right: 8px;
    color: #818181;
    font-size: 14px;
}

article header .article__icons div:first-child {
    margin-left: 7px;
}

article header .article__icons div:last-child {
    margin-right: 0;
}

article header .article__icons .icons__bloc-two {
    font-style: italic;
}

article .article__text {
    font-size: 14px;
    color: #3e3d3d;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 1.1px;
}

article .button {
    display: inline-block;
    border: 2px solid #3e3d3d;
    padding: 12px 24px 11px 23px;
    font-size: 12px;
    color: #3e3d3d;
    font-weight: 600;
    letter-spacing: 2px;
}

article .button-indent {
    margin-top: 20px;
}

article .button:hover {
    background: #3e3d3d;
    color: white;
    transition-duration: .3s;
}

.pagination {
    text-align: center;
    padding-top: 76px;
    border-top: 1px solid #3e3d3d;
    margin-top: 67px;
}

.pagination a {
    vertical-align: middle;
}

.pagination a {
    margin-right: 1px;
}

.pagination a:last-child {
    margin-right: 0;
}

.pagination .pagination__numeral {
    display: inline-block;
    border: 1px solid #3e3d3d;
    padding: 11px 15px 11px 15px;
    font-family: 'Crimson Text', serif;
    color: #3e3d3d;
    font-size: 14px;
    font-style: italic;

}

.pagination .pagination__numeral:hover {
    background: #3e3d3d;
    color: white;
}

.pagination .pagination__border {
    display: inline-block;
    padding: 10px 15px 10px 14px;
    border: 1px solid #3e3d3d;
}

.pagination .pagination__border .pagination__arrow {
    display: inline-block;
    height: 10px;
    width: 7px;
    background-color: #3e3d3d;
    -webkit-mask: url("../img/Layer 59.svg") no-repeat 100% 100%;
    mask: url("../img/Layer 59.svg") no-repeat 100% 100%;
}

.pagination > .pagination__border:hover {
    background: #3e3d3d;
}

.pagination > .pagination__border:hover .pagination__arrow {
    background-color: white;
}

aside .search {
    position: relative;
}

input, button {
    border: none;
    outline: none;
}

aside .search input {
    width: 100%;
    height: 39px;
    box-sizing: border-box;
    color: #3e3d3d;
    padding-left: 14px;
    padding-top: 6px;
    letter-spacing: .3px;
    font-size: 14px;
    font-style: italic;
    background: inherit;
    border: 2px solid #a8a8a8;
}

.search input::placeholder {
    color: #3e3d3d;
}

aside .search input:focus {
    border: 2px solid #6c757d;
}

.search > button {
    position: absolute;
    top: 12px;
    right: 10px;
    background: inherit;
}

.search button i {
    color: #3e3d3d;
}

aside .aside__indent {
    margin-bottom: 37px;
}

aside section h2 {
    font-size: 16px;
    color: #3e3d3d;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 36px;
}

section .section__post {
    margin-top: 32px;
    padding-bottom: 27px;
    border-bottom: 1px solid #b7b7b7;
}

section:first-child .section__post {
    margin-top: 0;
}

section .section__post:last-child {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 58px;
}

.section__post .post__text {
    display: inline-block;
    width: 154px;
    margin-left: 16px;
    vertical-align: top;
}

.section__post .post__text h3 {
    font-size: 12px;
    color: #3e3d3d;
    letter-spacing: 1.2px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.section__post .post__text p {
    font-size: 14px;
    font-style: italic;
    color: #3e3d3d;
    line-height: 25px;
    letter-spacing: 1.3px;
}

aside .categories .categories__title,
.bloc-photos p {
    font-size: 16px;
    color: #3e3d3d;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.categories li {
    background: url("../img/st.svg") no-repeat 1% 18%;
    padding-left: 15px;
}

.categories ul {
    margin-bottom: 61px;
}

.categories ul li a {
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    font-style: italic;
    color: #3e3d3d;
}

.categories ul li a:hover {
    font-size: 18px;
    color: black;
    transition-duration: .3s;
}

.categories ul li {
    padding-bottom: 20px;
    border-bottom: 1px solid #b7b7b7;
    margin-top: 22px;
}

.categories__title + ul > li:first-child {
    margin-top: 0;
}

.bloc-photos .bloc-photos__img img {
    margin: 0 6px 10px 0;
}

.bloc-photos .bloc-photos__img img:nth-child(3n) {
    margin-right: 0;
}

.background-footer {
    background-image: url("../img/background-min.png");
}

footer .footer__indent {
    margin-top: 59px;
    padding-right: 25px;
}

footer .logo {
    margin: 0 0 40px 0;
}

footer .logo .logo__text {
    color: white;
}

footer p {
    font-size: 14px;
    color: #949494;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1.2px;
}

footer .footer__text-indent {
    margin-bottom: 39px;
}

footer h4 {
    font-size: 12px;
    color: #e3e3e3;
    letter-spacing: 1.9px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 24px;
}

footer .footer__text-two-indent {
    margin-bottom: 30px;
}

footer h5,
footer h5 > a {
    color: #e3e3e3;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.8px;
    line-height: 18px;
}

footer h5 > a:hover {
    color: #ccc;
}

footer h5 {
    margin-bottom: 30px;
}

footer .social-network {
    margin-left: 5px;
}

footer .social-network > a {
    font-size: 12px;
    border-right: 1px solid #aaa;
    padding-right: 5px;
    color: #aaa;
}

footer .social-network > a:last-child {
    border-right: none;
    padding-right: 0;
}

footer .social-network > a:hover {
    color: #4e555b;
}

.footer__form {
    margin: 130px 0 0 9px;
}

.footer__form .item-indent {
    margin-right: 21px;
}

.footer__form .form__item {
    display: inline-block;
    margin-bottom: 21px;
}

.footer__form .form__item input {
    font-family: 'Crimson Text', serif;
    width: 372px;
    height: 56px;
    box-sizing: border-box;
    padding-left: 22px;
    letter-spacing: 1.4px;
    padding-top: 4px;
    font-size: 14px;
    font-style: italic;
    background: inherit;
    color: #949494;
    border: 2px solid #464646;
}

.footer__form .form__item input::placeholder {
    color: #949494;
}

.footer__form .form__item input:focus {
    border: 2px solid #6c757d;
    outline: none;
}

.footer__form .bloc-form__textarea {
    width: 100%;
}

.footer__form .bloc-form__textarea textarea {
    resize: none;
    font-family: 'Crimson Text', serif;
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 1.4px;
    padding-left: 22px;
    padding-top: 21px;
    font-size: 14px;
    font-style: italic;
    background: inherit;
    color: #949494;
    border: 2px solid #464646;
}

.footer__form .bloc-form__textarea textarea::placeholder {
    color: #949494;
}

.footer__form .bloc-form__textarea textarea:focus {
    border: 2px solid #6c757d;
    outline: none;
}

.form__button {
    border: none;
    outline: none;
    height: 39px;
    width: 134px;
    background: #464646;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #e3e3e3;
    letter-spacing: 1.1px;
    margin-left: 4px;
    font-weight: 600;
}

.form__button:hover {
    background: #494f54;
    color: white;
}

footer .footer__company {
    margin-top: 58px;
    padding: 41px 0 41px 0;
    border-top: 1px solid #464646;
    width: 100%;
}

footer .footer__company p {
    letter-spacing: 1.4px;
    font-size: 14px;
    font-style: italic;
    color: #949494;
}

@media screen and (max-width: 1199px) {
    .menu {
        margin-left: 0;
    }
}

@media screen and (max-width: 991px) {
    .button_container {
        display: inline-block;
    }

    .menu {
        display: none;
    }

    header .header-title .header-title__text {
        padding-top: 80px;
    }

    header .header-title .header-title__text > h1 {
        font-size: 38px;
    }

    header > .header-title {
        height: 250px;
    }

    body .indent {
        padding-top: 60px;
        margin-bottom: 45px;
    }

    body main {
        margin-right: 0;
        margin-bottom: 60px;
    }

    section .section__post .post__text {
        width: auto;
    }

    .bloc-photos .bloc-photos__img img:nth-child(3n) {
        margin-right: 6px;
    }

    .bloc-photos .bloc-photos__img img:last-child {
        margin-right: 0;
    }

    .footer__form {
        margin-top: 50px;
    }
}

@media screen and (max-width: 647px) {
    header .header-title > .header-title__text {
        padding-top: 40px;
    }

    header .header-title > .header-title__text > h1 {
        font-size: 26px;
    }

    header .header-title .header-title__text p,
    header .header-title .header-title__text p .home {
        font-size: 12px;
        margin-top: 8px;
    }

    header > .header-title {
        height: 150px;
    }
}

@media screen and (max-width: 504px) {
    section .section__post .post__text {
        width: 270px;
    }
}

@media screen and (max-width: 420px) {
    section .section__post .post__text {
        width: 200px;
    }

    .footer__form .form__item input {
        width: 280px;
    }
}

@media screen and (max-width: 340px) {
    section .section__post .post__text {
        width: 150px;
    }
    .button_container {
        margin-left: 10px;
    }
}
